/*--------------GENERAL STYLES--------------*/
:root {
    --darkblue: #083053;
    --darkerblue: #04294a;
    --yellow: #f7d260;
}
body {
	overflow-x: hidden;
	background: var(--darkblue);
}
body.no-anim * {
  transition: none !important;
}
*::selection {
  background: #17213a;
  color: #fff;
}
*:focus,
*:hover {
	outline: none !important;
}
h1, h2 {
	font-family: 'DM Serif Text', sans-serif;
	color: var(--darkblue);
	text-align: center;
	transition: all 0.3s ease;
	margin-top: 0;
	font-style: normal;
	font-weight: 400;
}
h2 {
	font-style: italic;
}
p, li, h6, a, span {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: var(--darkblue);
	transition: all 0.3s ease;
}
b {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 18px;
}
a:hover {
	text-decoration: none;
}
span {
	color: #fff;
}
section {
	background: #fff;
	z-index: 1;
}
hr {
	border-top: 2px solid var(--yellow);
	width: 70px;
	margin-bottom: 30px;
}
ul {
	padding-inline-start: 20px;
	margin-bottom: 0px;
}
ul li {
	text-align: left;
	margin-bottom: 10px;
}
ul li:last-of-type {
	margin-bottom: 0px;
}
.solid-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	background: transparent;
	margin-top: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	border-radius: 60px;
	height: 50px;
	min-height: 50px;
	width: fit-content;
	color: #fff;
	transition: all 0.4s ease;
	border: unset;
	background: var(--darkblue);
	min-width: 120px;
	cursor: pointer;
}
.solid-btn:hover {
	color: #fff;
	background: var(--darkerblue);
}
.mobile {
	display: none;
}

/*Smaller banner for non-home pages*/
main.banner-sml {
	height: 500px !important;
	min-height: unset;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	z-index: -1;
	backface-visibility: hidden;
}
main.banner-sml .container {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: unset;
	height: inherit;
	z-index: 1;
}
main.banner-sml .container h1 {
	margin-top: 30px;
}
main.banner-sml .blue-bg {
	background: rgba(8, 48, 83, 0.85);
	height: 100%;
	flex-basis: 50%;
} 
main.banner-sml .background-window {
	position: fixed;
	height: 500px;
	width: 50%;
	flex-basis: 50%;
	z-index: 0;
	left: 50%;
}
main.banner-sml .background-window:after {
	left: 0;
	right: unset;
	border-width: 500px 127px 0 0;
    border-color: rgba(8, 48, 83, 0.85) transparent transparent transparent;
}

/*Right aligned blue background*/
main.banner-sml.right {
	flex-direction: row-reverse;
}
main.banner-sml.right .background-window {
	left: 0;
}
main.banner-sml.right .background-window:after {
	top: 0;
	right: 0;
	left: unset;
	border-style: solid;
    border-width: 0 0 500px 140px;
    border-color: transparent transparent rgba(8, 48, 83, 0.85) transparent;
}
main.banner-sml.right .container {
	transform: unset;
}


/*-----NAVBAR-----*/

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
	height: 70px;
	width: 100%;
	z-index: 999;
	padding: 0;
	overflow: hidden;
}
.blur-bg {
	background: rgba(8, 48, 83,.9);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.navbar,
.navbar * {
	transition: all 0.35s ease;
}
.navbar .container {
	display: flex;
	max-width: 1800px;
	width: 100%;
	flex-flow: row nowrap;
	-ms-flex-pack: start;
	justify-content: flex-start;
    align-items: center;
    padding: 0px 40px;
    transition: all 0.35s ease;
}
.container {
	display: block;
	max-width: 1120px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 40px;
	position: relative;
}
.navbar-brand {
	width: 60px;
	padding: 0px;
	display: inline-block;
	align-items: center;
}
.navbar-brand img {
	width: 100%;
}
.navbar-expand-xl .navbar-collapse {
	justify-content: flex-end;
}

.nav-item {
	padding-left: 20px;
	margin-bottom: 0px;
}
.nav-item.call {
    border: 2px solid #fff;
	padding-left: 0px;
	margin-left: 20px;
	transform: translateZ(0) perspective(999px);
	backface-visibility: hidden;
	width: max-content;
}
/*.nav-item.call:hover {
    border: 2px solid #fff;
}*/
.nav-item.call .nav-link {
	color: #fff;
}
.nav-link {
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}
.nav-link:hover {
	color: #acacac;
}


/*MENU BUTTON*/
.menu-toggle {
	display: none;
	align-items: center;
	height: 30px;
}
.nav-button {
	display: inline-block;
	background: unset;
	border: unset;
	width: 30px;
	padding: 0;
}
.nav-button .bar {
    height: 4px;
    width: 30px;
    background: #fff;
    display: block;
    margin-bottom: 3px;
    transition: background 0.3s ease, width 0.3s ease;
}
/*.nav-button .bar:last-of-type {
    width: 25px;
}*/
/*----------------MOBILE NAV STYLES----------------*/

.mobile-nav {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(9,12,21,.6);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	flex-direction: column;
	z-index: 999;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 75%);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}
.mobile-nav.open {
    opacity: 1;
    pointer-events: all;
}
.mobile-nav .navbar-brand {
	position: fixed;
	top: 12px;
	left: 40px;
	z-index: 1;
}
.mobile-nav .close-btn {
	width: 25px;
	height: 25px;
	position: absolute;
    top: 20px;
	right: 40px;
	z-index: 1;
}
.mobile-nav .close-btn:hover {
	opacity: 1;
}
.mobile-nav .nav-container {
	height: 100%;
	position: relative;
	width: 100%;
}
.mobile-nav .nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
    display: block;
}
.mobile-nav .nav-item {
	width: 100%;
	border-top: 1px solid #e7e7e7;
	padding: 0;
	display: flex;
	align-items: center;
	height: 80px;
}
.mobile-nav .nav-link {
	display: flex;
	align-items: center;
	font-size: 32px;
	color: #fff;
	transition: all 0.5s ease;
	text-align: left;
	padding: 0 40px;
	height: 100%;
	width: 100%;
}
.mobile-nav .nav-link:hover {
	color: #2b6ca3;
}
.mobile-nav .nav-item.call {
	border: 0;
	border-top: 1px solid #e7e7e7;
	margin: 0;
}
.mobile-nav .nav-item.call:hover {
	background: unset;
	transform: unset;
}
.mobile-nav .nav-item.call:hover .nav-link {
	color: #fff;
}
.mobile-nav .contact-item {
	padding-left: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

/*--------------HERO SECTION--------------*/

.fixed-bg {
	position: fixed;
	z-index: -2;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100vh;
	background: url('../img/home-page/urgent-bg.jpg') no-repeat center;
	background-size: cover;
}
main {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
	height: 85vh;
	min-height: 600px;
}
main .hero-overlay {
	height: 100%;
}
main .container {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
	height: 80vh;
	min-height: 600px;
	z-index: 0;
}
main .container p {
	text-align: left;
	display: inline;
	font-size: 16px;
	margin: 0;
	color: #fff;
	font-weight: 300;
}
main .container h1 {
	font-size: 50px;
	color: #fff;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}
/*For the sub-text*/
main .container a hr,
main .container a p {
	animation: fade-in 0.7s linear forwards;
	animation-delay: 3s;
	opacity: 0;
}
main .container h1 span {
	animation: fade-in 0.7s linear forwards;
	opacity: 0;
	animation-delay: 1s;
	font-family: 'DM Serif Text', sans-serif;
	font-style: normal;
	font-size: inherit;
	color: inherit;
	text-align: left;
}
main .container h1 span:last-of-type {
	animation-delay: 2s;
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
main .container hr {
	display: inline;
	width: 20px;
	height: 2px;
	border-top: 2px solid var(--yellow);
	display: inline-block;
	margin: 0;
	margin-top: 2px;
	margin-right: 10px;
	transition: margin 0.3s ease;
}
/*Link wrapper*/
main .container a {
	display: inline-flex;
	width: auto;
	align-items: center;
}
main .container a:hover {
	text-decoration: none;
}
main .container a:hover hr {
	margin-right: 15px;
}
main .container a:hover p {
	color: #9b9b9b;
}
main .hero-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-image: linear-gradient(rgba(8,48,83,0.8), rgba(8,48,83,0.8)), url('../img/home-page/background.jpg');
	background-size: cover;
	background-position: ;
	z-index: -1;
}

/*--------------ABOUT SECTION--------------*/

section.about {
	background: #fff;
}
.flex-container {
	display: flex;
	transform: translateZ(0) perspective(999px);
	transition: all 0.5s ease;
	overflow: hidden;
	box-shadow: 0 0 15px -1px rgb(219 212 219);
}
.flex-container .right {
	width: 50%;
}
.flex-container .left {
	position: relative;
	width: 50%;
	padding: 40px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flex-container .left:after {
	content: '';
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
   	right: -127px;
   	border-width: 620px 127px 0 0;
   	border-color: #fff transparent transparent transparent;
}
.flex-container .left * {
	z-index: 1;
	color: #083053;
	text-align: left;
}
.flex-container .left h1 {
	text-align: center;
}
/*.flex-container .left:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url('../img/home-page/topography.svg');
	background-size: cover;
	z-index: 0;
	opacity: 0.8;
}*/
/*Remove margin from last p element*/
.flex-container p:last-of-type {
	margin-bottom: 0px;
}
.image-bg {
	overflow: hidden;
	background: url('../img/home-page/handshake.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.image-bg img {
    width: auto;
    height: 100%;
}

/*--------------EXPERIENCE SECTION--------------*/

section.experience {
    background: #f4f4f4;
    border-top: 1px solid #e7e7e7;
}
section.experience .values {
	display: flex;
	justify-content: space-between;
}
section.experience .values:last-of-type {
	margin-bottom: 30px;
}
section.experience .values .value {
	position: relative;
	display: flex;
	align-items: center;
	width: 50%;
	margin: 0px 70px 15px 0px;
	color: #fff;
	height: 100px;
	padding-left: 20px;
	transform: translateZ(0) perspective(999px);
	cursor: default;
	/*box-shadow: 0 0 15px -1px rgb(219 212 219);*/
}
.value .center {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
/*Hidden border animation*/
section.experience .values .value:before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	height: 1px;
	transition: background 0.5s ease;
	width: 100%;
	transform: unset;
	left: 0;
	background: #e7e7e7;
}
section.experience .values .value,
section.experience .values .value * {
	transition: all 0.35s ease;
	color: #6b6b6b;
}
section.experience .values .value:last-of-type {
	margin: 0px 0px 15px;
}

section.experience .values .value img {
	width: 35px;
	transition: transform 0.35s ease;
	transform: translateZ(0) perspective(999px);
}
section.experience .values .value p {
	font-weight: 400;
	margin-bottom: 0px;
	text-align: left;
	padding-left: 30px;
	max-width: 300px;
}
section.experience .values .value:hover {
	background: #fff;
	/*transform: scale3d(1.02, 1.02, 1.0) perspective(999px);*/
}
section.experience .values .value:hover:before {
	background: var(--yellow);
}
section.experience .values .value:hover img {
	transform: scale3d(1.1, 1.1, 1.0) perspective(999px);
}
section.experience .values .value:hover p {
	color: #3b3b3b;
}


/*--------------SERVICES SECTION--------------*/

section.services {
	background: #fff;
    border-top: 1px solid #e7e7e7;
}
.offerings {
	display: flex;
	justify-content: space-between;	
	margin-top: 30px;
}
.offerings:last-of-type {
	margin-top: 0px;
}
.offer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-basis: 33.3333%;
	height: 150px;
	background: #f4f4f4;
	margin: 0px 15px 15px 0px;
	border: 1px solid transparent;
	transition: all 0.3s ease;
	transform: translateZ(0) perspective(999px);
	cursor: pointer;
}
.offer:last-of-type {
	margin: 0px 0px 15px;
}
.offer picture {
	display: block;
	overflow: hidden;
	position: relative;
	width: 40px;
	height: auto;
	margin: 0 auto;
	margin-top: 15px;
	transition: all 0.5s ease;
}
.offer picture img {
	width: 100%;
	height: auto;
}
.offer p {
	margin-top: 20px;
	font-weight: 400;
}

/*OFFER HOVER EFFECTS*/
.offer:hover{
	transform: translateY(-5px) perspective(999px);
	background: #fff;
	box-shadow: 0 0 15px -1px rgb(219 212 219);
}
.offer:hover picture {
	/*transform: scale3d(1.015, 1.015, 1.0) perspective(999px);*/
}


/*----------------TESTIMONIALS----------------*/

/*SLIDER*/

section.testimonials {
	background: #f4f4f4;
}
.slider {
    z-index: 20;
    max-width: 800px;
    width: 100%;
    position: relative;
    height: auto;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: grab;
    /*border: 2px solid white;*/
    -webkit-perspective: 1000;
    transform: translateZ(0);
    background: #fff;
	box-shadow: 0 0 15px -1px rgb(219 212 219);
}
.testimonials .slick-slider {
    margin-bottom: 0px;
}
.slick-track {
    display: flex !important;
}
.slick-slide {
    height: inherit !important;
}
.slide:focus {
    outline: none;
}
.slick-dots {
    bottom: 20px !important;
    transition: all 0.3s ease;
    transform: translateZ(0);
}
.slick-dots li {
	margin: 0 2px !important;
}

/*Inactive*/
.slick-dots li button:before {
    color: var(--yellow) !important;
    transition: opacity 0.7s ease;
    opacity: 0.3 !important;
}

/*Active*/
.slick-dots li.slick-active button:before {
    opacity: 1.0 !important;
}
.slick-slide {
    margin: 0 27px;
}

/* the parent */
.slick-list {
    margin: 0 -27px;
}
.slide {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 40px;
    border-radius: 6px;
}
.slide h2 {
    text-align: center;
    padding-bottom: 10px;
    user-select: none;
}
.slide p {
    text-align: center;
    user-select: none;
    margin: 0px auto 15px;
}

/*----------------URGENT SECTION----------------*/

section.urgent {
	position: relative;
	height: 400px;
	width: 100%;
	background: unset;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}
.background-window {
	position: relative;
	height: 500px;
	width: 50%;
	flex-basis: 50%;
	z-index: 0;
}
.background-window:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
    border-width: 0 0 400px 140px;
    border-color: transparent transparent rgba(8, 48, 83, 0.85) transparent;
}
section.urgent .container {
	width: 50%;
	flex-basis: 50%;
	max-width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	z-index: 2;
	margin: unset;
}
section.urgent .blue-bg {
	background: rgba(8, 48, 83, 0.85);
	height: 100%;
	width: 50%;
	flex-basis: 50%;
	position: absolute;
	right: 0;
	z-index: 1;
}
section.urgent .container * {
	color: #fff;
	text-align: left;
}
section.urgent .container h1 {
	max-width: 500px;
}
section.urgent .container p {
	font-size: 18px;
}
section.urgent .container p a {
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
	white-space: nowrap;
	transition: unset;
	text-decoration: underline;
	transition: all 0.35s ease;
}
section.urgent .container p a:hover {
	color: #acacac;
}
section.urgent .container p {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	margin-top: 10px;
}
section.urgent .container .solid-btn {
	margin: 20px auto 0px 0px;
	width: 180px;
}

/*----------------ABOUT PAGE----------------*/

main.banner-sml.about-banner {
	background: url('../img/about/banner.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.about-page .container p {
	text-align: left
}
/*.about-page .image-bg {
	background: url('../img/about/folder.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}*/
.about-page .flex-container {
	position: relative;
	padding: 40px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.about-page .flex-container * {
	z-index: 1;
	color: #083053;
	text-align: left;
}
.about-page .flex-container h1,
.about-page .flex-container h2 {
	text-align: center;
}
.about-page .flex-container h2 {
	position: relative;
    width: fit-content;
    margin: 20px auto 30px;
}
.about-page .flex-container h2:before,
.about-page .flex-container h2:after {
	content: "";
	position: absolute;
	top: -5px;
	left: -35px;
	width: 20px;
	height: 20px;
	background: url('../img/about/left-quote.svg');
	background-size: cover;
	/*transform: rotate(10deg);*/
}
.about-page .flex-container h2:after {
	left: unset;
	right: -35px;
	background: url('../img/about/right-quote.svg');
	background-size: cover;
}
/*.parallax {
	width: calc(100% + 80px);
	margin-left: -40px;
	height: 300px;
	background: url('../img/about/folder.jpg');
	background-position: center;
  	margin-bottom: 20px;
}*/

/*----------------OUR PEOPLE----------------*/

.our-people {

}
main.banner-sml.people {
	background: url('../img/our-people/banner.jpg');
	background-size: cover;
	background-position: 50% 70%;
	background-repeat: no-repeat;
}
.person {
	display: flex;
	margin-bottom: 30px;
	padding: 40px;
	box-shadow: 0 0 15px -1px rgb(219 212 219);
	background: #fff;
}
.person hr {
	margin: 30px 0 20px;
}
.person picture {
	width: 100px;
	display: block;
	margin: 5px 0px 15px;
	border-radius: 50%;
	overflow: hidden;
}
.person picture img {
	width: 100%;
}
.person .left {
	width: 250px;
	height: 100%;
}
.person .left span {
	display: block;
	text-align: left;
	color: var(--darkblue);
}
.person .left span.name {
	font-weight: 600;
}
.person .right {
	width: 100%;
}
.person .right p {
	text-align: left;
}
.person .right p:last-of-type {
	margin-bottom: 0;
}

/*----------------PRACTICE----------------*/

main.banner-sml.practice {
	background: url('../img/areas-of-practice/banner.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.practice-areas {

}
section.area {
	margin-bottom: 30px;
}
.area .container {
	display: flex;
	box-shadow: 0 0 15px -1px rgb(219 212 219);
}
.area .left {
	width: 200px;
	height: 100%;
}
.area .left picture {
	display: block;
	width: 80px;
	margin: 10px 0px 0px 30px;
}
.area .left picture img {
	width: 100%;
}
.area .right {
	width: 100%;
}
.area .right h1,
.area .right p {
	text-align: left;
}
.area .right hr {
	margin-left: 0;
}
.split {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.split ul {
	flex-basis: 45%;
}
.area .right b {
	font-size: 18px;
}
.area .right a.read-more {
	text-decoration: underline;
	display: block;
	text-align: left;
}
.area .right a.read-more:hover {
	color: #1b1b1b;
}
.area .right .solid-btn {
	margin-left: 0;
}

/*For conveyancing text overflow*/
.more {
	overflow: hidden;
	max-height: 0px;
	margin-top: 0px;
	opacity: 0;
	transition: all 0.5s ease;
}
.more.expand {
	margin-top: 30px;
	height: auto;
	max-height: 1000px;
	opacity: 1;
}
/*Only add margin to the conveyancing unordered lists*/
#conveyancing ul {
	margin-bottom: 20px;
}
.enquire {
    border-top: 1px solid #e7e7e7;
	background: #f4f4f4;
}
.contact-form {
	width: 500px;
	margin: 30px auto 0;
}
.contact-form * {
	display: block;
}
.contact-form input,
.contact-form select,
.contact-form textarea {
	border-radius: 7px;
	border: unset;
	width: 100%;
	padding: 10px 20px;
	margin-bottom: 10px;
	background: #fff;
	color: #000;
	box-shadow: inset 0 2px 1px rgb(0 0 0 / 3%);
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.contact-form select {
	position: relative;
	padding: 10px 15px;
	-webkit-appearance: none;
   	-moz-appearance: none;
   	appearance: none; 
   	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
   	/*background-image: url('../img/general/dropdown.png');*/
   	background-repeat: no-repeat;
  	background-position-x: 98%;
  	background-position-y: 10px;
}
.contact-form input {
	height: 45px;
}
.contact-form textarea {
	height: 250px;
}
.contact-form .solid-btn {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}

/*URGENT SECTION*/
.urgent.left {
	flex-direction: row-reverse;
}
.urgent.left .background-window:after {
	left: 0;
	right: unset;
	border-width: 400px 127px 0 0;
    border-color: rgba(8, 48, 83, 0.85) transparent transparent transparent;
}
.urgent.left .container {
	width: 100%;
	flex-basis: 100%;
	max-width: 1120px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
}
.urgent.left .blue-bg {
	left: 0;
	right: unset;
}

/*----------------CONTACT----------------*/

main.banner-sml.contact {
	background: url('../img/contact/banner.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
section.contact .flex-container {
	height: 500px;
}
section.contact .flex-container .left:after {
	content: '';
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
   	right: -127px;
   	border-width: 0 127px 620px 0;
   	border-color: transparent transparent #fff transparent;
}
.contact-group {
	margin-bottom: 30px;
}
.contact-group p {
	margin-bottom: 2px;
}
.contact-group b {
	font-size: 16px;
}

.urgent.full .background-window {
	display: none;
}
.urgent.full .blue-bg {
	width: 100%;
}
.urgent.full .container {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 100%;
	max-width: 1120px;
	flex-basis: 100%;
}
.urgent.full .container h1,
.urgent.full .container p {
	text-align: center;
	max-width: 100%;
}
.urgent.full .container .solid-btn {
	margin: 20px auto 0;
}
/*----------------FOOTER STYLES----------------*/

footer {
	position: relative;
	background: #1b1b1b;
}
/*footer .topography-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/home-page/topography.svg');
	background-size: cover;
	opacity: 0.05;
}*/
footer .container {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}
footer .container b {
	font-size: 16px;
}
footer .footer-container {
	padding-left: 20px;
}
footer .footer-container.contact {
	padding-left: 0px;
}
footer .footer-container * {
	text-align: left;
}
footer .footer-container p:first-of-type {
	margin-bottom: 15px;
	color: #fff;
}
footer .footer-container a {
	color: #9b9b9b;
}
footer .footer-container a:hover {
	color: #6b6b6b;
	text-decoration: none;
}
/*CONTACT ITEMS*/
footer .footer-container.contact p {
	padding-left: 3px;
	display: flex;
	align-items: flex-start;
}
footer .footer-container.contact p i {
	color: #fff;
	margin-right: 15px;
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
footer .footer-container.contact p a {
	display: inline-block;
}
footer .footer-container.copyright {
	flex-basis: 400px;
}
footer .footer-container.copyright p span {
	font-weight: inherit;
}
footer p.copyright {
	font-weight: 400;
	margin-bottom: 20px;
}
footer p:nth-child(2) {
	margin-bottom: 10px;
}
footer p {
	color: #9b9b9b;
	font-weight: 400;
}
.footer-links {
	display: flex;
	justify-content: flex-start;
}
.footer-links .column {
	display: flex;
	flex-direction: column;
}
/*.footer-links .column:last-of-type {
	padding-left: 50px;
}*/
.footer-links .column a {
	color: #9b9b9b;
	margin-bottom: 5px;
	transition: color 0.5s ease;
}
.footer-links .column a:hover {
	text-decoration: none;
	color: #4b4b4b;
}
.social-links {
	margin-bottom: 20px;
}
.social-links a:hover {
	text-decoration: none;
}
.social-links a img {
	width: 30px;
	height: 30px;
}
.social-links a:first-of-type {
	margin-right: 10px;
}

/*----------------MEDIA QUERIES----------------*/

@media only screen and (max-width: 1300px){
	/*NAV*/
	.nav {
		display: none;
	}
	.menu-toggle {
	    display: inline-flex;
	    align-items: center;
	}
	.navbar .container {
		justify-content: space-between;
	}
	.navbar {
	    height: 70px;
	}
	.navbar-brand,
	.navbar-brand img {
	    width: 55px;
	}
}
@media only screen and (max-width: 991px){
	/*GENERAL*/
	.container {
		padding: 40px 40px;
	}
	h1 {
	    font-size: 2rem;
	}
	.mobile {
		display: block;
	}

	/*NAV*/
	.navbar .container {
		padding: 0px 40px;
	}

	/*MAIN*/
	main .container h1 span.driven-text {
		display: block;
	}
	main,
	main .container {
		height: 100vh;
	    min-height: unset;
	}

	/*MAIN SML*/
	main.banner-sml {
	    height: 450px !important;
	}
	main.banner-sml .blue-bg {
		/*flex-basis: 100%;*/
	}
	main.banner-sml .container h1 {
		max-width: 350px;
	}

	/*ABOUT*/
	.flex-container {
		flex-direction: column;
		overflow: hidden;
	}
	.flex-container .right,
	.flex-container .left {
		width: 100%;
		border-radius: unset;
	}
	.flex-container .left:after {
		top: 100%;
	   	left: 0;
	   	border-width: 0 900px 70px 0;
	   	border-color: transparent  #fff transparent transparent ;
	}
	.flex-container .image-bg.right {
		height: 350px;
	}

	/*VALUES*/
	section.experience .values .value {
		padding-left: 10px;
    	margin: 0px 30px 15px 0px;
	}

	/*EXPERIENCE*/
	.offer {
	    width: 49%;
	}

	/*URGENT*/
	section.urgent .background-window {
		display: none;
	}
	section.urgent {
		height: 350px;
	}
	section.urgent .blue-bg {
		width: 100%;
	}
	section.urgent .container {
		flex-basis: 100%;
	}
	section.urgent .container h1 {
	    font-size: 32px;
	}
	section.urgent .container h1,
	section.urgent .container p {
		text-align: center;
		max-width: 100%;
	}
	section.urgent .container .solid-btn {
		margin: 10px auto 0px;
	}

	/*ABOUT PAGE*/
	.about-page .flex-container h2 {
		width: calc(100% - 80px);
	}

	/*CONTACT PAGE*/
	section.contact .flex-container {
		height: auto;
	}
	section.contact .flex-container .left:after {
		top: 100%;
	   	left: 0;
	   	border-width: 0 0 70px 900px;
	   	border-color: transparent transparent transparent #fff;
	}
	section.contact .flex-container .right {
		display: block;
		height: 330px;
	}
	.contact-group {
		width: 425px;
		margin: 0 auto 30px;
	}
	.contact-group:last-of-type {
		margin-bottom: 0;
	}

	/*FOOTER*/
	footer .container { 
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	footer .footer-container.links {
		padding-left: 100px;
	}
	footer .footer-container.copyright {
		flex-basis: 100%;
		padding-left: 0;
		margin-top: 30px;
	}
}

@media only screen and (max-width: 767px){
	/*GENERAL*/
	.fixed-bg,
	.hero-overlay {
		background-position: 40% 50% !important;
		top: 0;
	}
	.container {
		padding: 40px 20px;
	}
	main.banner-sml {
		height: 375px !important;
	}

	/*NAV*/
	.navbar .container {
		padding: 0px 20px;
	}
	.navbar-brand {
		margin-left: -5px;
	}

	/*MOBILE NAV*/
	.mobile-nav .nav-item {
		height: 45px;
	}
	.mobile-nav .nav-link {
		font-size: 20px;
		padding: 0 20px;
	}
	.mobile-nav .navbar-brand {
		top: 12px;
		left: 20px;
	}
	.mobile-nav .close-btn {
	    right: 20px;
	}

	/*MAIN*/
	main .container h1 {
	    font-size: 40px;
	    text-align: center;
	}
	main .container {
    	margin-bottom: 0px; 
	}

	/*ABOUT*/
	.about .flex-container .left {
	    padding: 20px;
	}
	.about .flex-container .image-bg.right {
		height: 250px;
	}

	/*VALUES*/
	section.experience .values .value {
	    margin: 0px 10px 10px 0px;
	}
	section.experience .values .value:last-of-type {
		margin: 0px 0px 10px;
	}

    /*SERVICES*/
    .offer {
        width: 100%;
        margin: 0px 10px 10px 0px;
    }
    .offer:last-of-type {
    	margin: 0px 0px 10px;
    }

    /*URGENT*/
    section.urgent {
    	height: 275px;
    }

    /*ABOUT PAGE*/
    .about-page .flex-container {
    	padding: 40px 20px;
    }

    /*AREAS OF PRACTICE*/
    .contact-form {
    	width: 450px;
    }
}
@media only screen and (max-width: 479px){

	/*GENERAL*/
	.container {
		padding: 20px 15px;
	}
	h1 {
	    font-size: 32px;
	}

	/*NAV*/
	.navbar .container {
	    padding: 0px 15px;
	}

	/*MOBILE NAV*/
	.mobile-nav .navbar-brand {
		left: 15px;
	}
	.mobile-nav .close-btn {
	    right: 15px;
	}
	.mobile-nav .vertical-align {
		width: 320px;
	}
	.mobile-nav .nav-item {
		height: 60px;
	}
	.mobile-nav .nav-link {
		font-size: 22px;
		padding: 0 15px;
	}


	/*MAIN*/
	main.banner-sml .background-window:after {
		display: none;
	}
	main.banner-sml .blue-bg {
		flex-basis: 100%;
	}
	main.banner-sml.right .container {
		left: 0;
	}

	/*ABOUT*/
	.flex-container .image-bg.right {
		height: 220px;
	}

	/*EXPERIENCE*/
	section.experience .values {
		flex-wrap: wrap;
	}
	section.experience .values .value {
		margin: 0 0 10px;
		padding: 0 20px;
		flex-basis: 100%;
	}

	/*SERVICES*/
	.offerings {
		flex-wrap: wrap;
	}
	.offer {
		flex-basis: 100%;
		margin: 0 0 10px;
	}

	/*TESTIMONIALS*/
	.testimonials .slick-slider {
		margin-bottom: 15px;
	}
	.slide {
		padding: 20px;
	}
	.slide p {
	    text-align: left;
	}
	.slick-dots {
	    bottom: 10px !important;
	}

	/*URGENT*/
	section.urgent {
		height: 350px;
	}
    section.urgent .container h1 {
	    font-size: 30px;
	}
	section.urgent .container p {
		font-size: 22px;
	}

	/*ABOUT PAGE*/
	.about-page .flex-container {
		padding: 40px 15px;
	}

	/*OUR PEOPLE*/
	.person {
		display: block;
		padding: 40px 15px;
	}
	.person:last-of-type {
		margin-bottom: 0;
	}
	.person .left {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-bottom: 30px;
	}

	/*AREAS OF PRACTICE*/
	.area .container {
		display: block;
	}
	.area .left {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.area .left picture {
		margin: 10px 0px 30px;
	}
	.area .right h1 {
		text-align: center;
	}
	.area .right hr {
		margin: 30px auto;
	}
	.area .right .solid-btn {
		margin: 30px auto;
	}
	.area .right a.read-more {
	    text-align: center;
	}
	.contact-form {
		width: 100%;
	}

	/*CONTACT PAGE*/
	section.contact .flex-container .left {
		padding: 20px;
	}
	section.contact .flex-container .right {
		display: block;
		height: 300px;
	}
	.contact-group {
		width: 100%;
		margin: 0 auto 30px;
	}


	/*FOOTER*/
	footer .footer-container.contact {
		flex-basis: 100%;
	}
	footer .footer-container.links {
		padding-left: 0;
		margin-top: 10px;
	}
}

/*LANDSCAPE SMARTPHONE*/
@media only screen and (max-height: 400px){

	/*MOBILE NAV*/
	.mobile-nav {
		min-height: ;
		height: 100%;
		overflow-y: scroll;
	}
	.mobile-nav .navbar-brand {
		top: 12px;
		left: 40px;
	}
	.mobile-nav .close-btn {
	    right: 40px;
	}
	.mobile-nav .vertical-align {
		width: 320px;
	}
	.mobile-nav .nav-item {
		height: 60px;
	}
	.mobile-nav .nav-link {
		font-size: 22px;
		padding: 0 40px;
	}
	.mobile-nav .nav {
		margin-top: 120px;
	    position: relative;
     	bottom: unset; 
     	left: unset; 
	}

	/*MAIN HERO SML*/
	main.banner-sml {
		height: 350px !important;
	}
	main.banner-sml .container h1 {
		margin-top: 30px;
		font-size: 40px;
	}
	main.banner-sml .background-window:after {
		display: none;
	}
	main.banner-sml .blue-bg {
		flex-basis: 100%;
	}
	main.banner-sml.right .container {
		left: 0;
	}
}