/*--------------GENERAL STYLES--------------*/
:root {
    --darkblue: #083053;
    --darkerblue: #041e35;
    --yellow: #fedc00;
}
body {
	overflow-x: hidden;
	background: var(--darkblue);
}
body.no-anim * {
  transition: none !important;
}
*::selection {
  background: #17213a;
  color: #fff;
}
*:focus,
*:hover {
	outline: none !important;
}
h1, h2 {
	font-family: 'DM Serif Text', sans-serif;
	color: var(--darkblue);
	text-align: center;
	transition: all 0.3s ease;
	margin-top: 0;
	font-style: normal;
	font-weight: 400;
}
h2 {
	font-style: italic;
}
p, li, h6, a, span {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: var(--darkblue);
	transition: all 0.3s ease;
}
b {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
a:hover {
	text-decoration: none;
}
span {
	color: #fff;
}
section {
	background: #fff;
}
hr {
	border-top: 2px solid var(--yellow);
	width: 70px;
	margin-bottom: 30px;
}
ul {
	padding-inline-start: 20px;
	margin-bottom: 0px;
}
ul li {
	text-align: left;
	margin-bottom: 10px;
}
ul li:last-of-type {
	margin-bottom: 0px;
}
.solid-btn {
	display: table;
	margin: 0 auto;
	background: transparent;
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	border-radius: 60px;
	padding: 10px 25px;
	color: #fff;
	transition: all 0.4s ease;
	border: unset;
	background: var(--darkblue);
	min-width: 130px;
	cursor: pointer;
}
.solid-btn:hover {
	color: #fff;
	background: var(--darkerblue);
}
.mobile {
	display: none;
}

/*Smaller banner for non-home pages*/
main.banner-sml {
	height: 400px !important;
	min-height: unset;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}
main.banner-sml .container {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: unset;
	height: 100%;
	z-index: 1;
}
main.banner-sml .container h1 {
	margin-top: 30px;
}
main.banner-sml .blue-bg {
	background: rgb(8, 48, 83);
	height: 100%;
	flex-basis: 50%;
} 
main.banner-sml .background-window:after {
	left: 0;
	right: unset;
	border-width: 400px 127px 0 0;
    border-color: rgb(8, 48, 83) transparent transparent transparent;
}

/*Right aligned blue background*/
main.banner-sml.right {
	flex-direction: row-reverse;
}
main.banner-sml.right .background-window:after {
	top: 0;
	right: 0;
	left: unset;
	border-style: solid;
    border-width: 0 0 500px 140px;
    border-color: transparent transparent rgb(8, 48, 83) transparent;
}
main.banner-sml.right .container {
	transform: unset;
}


/*-----NAVBAR-----*/

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
	height: 70px;
	width: 100%;
	z-index: 999;
	padding: 0;
	overflow: hidden;
}
.blur-bg {
	background: rgba(8, 48, 83,.9);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.navbar,
.navbar * {
	transition: all 0.35s ease;
}
.navbar .container {
	display: flex;
	max-width: 1800px;
	width: 100%;
	flex-flow: row nowrap;
	-ms-flex-pack: start;
	justify-content: flex-start;
    align-items: center;
    padding: 0px 40px;
    transition: all 0.35s ease;
}
.container {
	display: block;
	max-width: 1120px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 40px;
	position: relative;
}
.navbar-brand {
	width: 60px;
	height: 100%;
	padding: 0px;
	display: inline-block;
	align-items: center;
}
.navbar-brand img {
	width: 100%;
}
.navbar-expand-xl .navbar-collapse {
	justify-content: flex-end;
}

.nav-item {
	padding-left: 20px;
	margin-bottom: 0px;
}
.nav-item.call {
    border: 1px solid #9b9b9b;
	padding-left: 0px;
	margin-left: 20px;
	transform: translateZ(0) perspective(999px);
	backface-visibility: hidden;
	width: max-content;
}
.nav-item.call:hover {
    border: 1px solid #fff;
	transform: scale3d(1.01, 1.01, 1.0) perspective(999px);
}
.nav-item.call .nav-link {
	color: #fff;
}
.nav-link {
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}
.nav-link:hover {
	color: #9b9b9b;
}


/*MENU BUTTON*/
.menu-toggle {
	display: none;
	align-items: center;
	height: 30px;
}
.nav-button {
	display: inline-block;
	background: unset;
	border: unset;
	height: 30px;
	width: 30px;
	padding: 0;
	background: url('../img/general/menu.svg');
}
/*----------------MOBILE NAV STYLES----------------*/

.mobile-nav {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(9,12,21,.6);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	flex-direction: column;
	z-index: 999;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 75%);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}
.mobile-nav.open {
    opacity: 1;
    pointer-events: all;
}
.mobile-nav .close-btn {
	width: 30px;
	height: 30px;
	position: absolute;
    top: 20px;
	right: 40px;
}
.mobile-nav .close-btn:hover {
	opacity: 1;
}
.mobile-nav .nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
    display: block;
}
.mobile-nav .nav-item {
	width: 100%;
	border-top: 1px solid #fff;
	padding: 0;
	display: flex;
	align-items: center;
	height: 80px;
}
.mobile-nav .nav-link {
	font-size: 32px;
	color: #fff;
	transition: all 0.5s ease;
	text-align: left;
	padding: 0 40px;
}
.mobile-nav .nav-link:hover {
	color: #2b6ca3;
}
.mobile-nav .nav-item.call {
	border: 0;
	border-top: 1px solid #fff;
	margin: 0;
}
.mobile-nav .nav-item.call:hover {
	background: unset;
	transform: unset;
}
.mobile-nav .nav-item.call:hover .nav-link {
	color: #fff;
}
.mobile-nav .contact-item {
	padding-left: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

/*--------------HERO SECTION--------------*/

.fixed-bg {
	position: fixed;
	z-index: -2;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100vh;
	background: url('../img/home-page/urgent-bg.jpg') no-repeat center;
	background-size: cover;
}
main {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
}
main .hero-overlay {
	height: 100%;
}
main .container {
	height: 80vh;
	min-height: 600px;
	z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
main .container p {
	text-align: left;
	display: inline;
	font-size: 16px;
	margin: 0;
	color: #fff;
	font-weight: 300;
}
main .container h1 {
	font-size: 50px;
	color: #fff;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}
/*For the sub-text*/
main .container a hr,
main .container a p {
	animation: fade-in 0.7s linear forwards;
	animation-delay: 3s;
	opacity: 0;
}
main .container h1 span {
	animation: fade-in 0.7s linear forwards;
	opacity: 0;
	animation-delay: 1s;
	font-family: 'DM Serif Text', sans-serif;
	font-style: normal;
	font-size: inherit;
	color: inherit;
}
main .container h1 span:last-of-type {
	animation-delay: 2s;
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
main .container hr {
	display: inline;
	width: 20px;
	height: 2px;
	border-top: 2px solid var(--yellow);
	display: inline-block;
	margin: 0;
	margin-top: 2px;
	margin-right: 10px;
	transition: margin 0.3s ease;
}
/*Link wrapper*/
main .container a {
	display: inline-flex;
	width: auto;
	align-items: center;
}
main .container a:hover {
	text-decoration: none;
}
main .container a:hover hr {
	margin-right: 15px;
}
main .container a:hover p {
	color: #9b9b9b;
}
main .hero-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-image: linear-gradient(rgba(8,48,83,0.8), rgba(8,48,83,0.8)), url('../img/home-page/background.jpg');
	background-size: cover;
	background-position: ;
	z-index: -1;
}

/*--------------ABOUT SECTION--------------*/

section.about {
	background: #fff;
}
.flex-container {
	display: flex;
	transform: translateZ(0) perspective(999px);
	transition: all 0.5s ease;
	overflow: hidden;
	box-shadow: 0 0 15px -1px rgb(219 212 219);
}
.flex-container .right {
	width: 50%;
}
.flex-container .left {
	position: relative;
	width: 50%;
	padding: 40px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flex-container .left * {
	z-index: 1;
	color: #083053;
	text-align: left;
}
.flex-container .left h1 {
	text-align: center;
}
/*.flex-container .left:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url('../img/home-page/topography.svg');
	background-size: cover;
	z-index: 0;
	opacity: 0.8;
}*/
/*Remove margin from last p element*/
.flex-container p:last-of-type {
	margin-bottom: 0px;
}
.image-bg {
	overflow: hidden;
	background: url('../img/home-page/handshake.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: height 0.5s ease;	
}
.image-bg img {
    width: auto;
    height: 100%;
}

/*--------------EXPERIENCE SECTION--------------*/

section.experience {
    background: #f4f4f4;
    border-top: 1px solid #e7e7e7;
}
section.experience .values {
	display: flex;
	justify-content: space-between;
}
section.experience .values:last-of-type {
	margin-bottom: 30px;
}
section.experience .values .value {
	position: relative;
	display: flex;
	align-items: center;
	width: 50%;
	margin: 0px 70px 15px 0px;
	color: #fff;
	height: 100px;
	transform: translateZ(0) perspective(999px);
	cursor: default;
	/*box-shadow: 0 0 15px -1px rgb(219 212 219);*/
}
.value .center {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
/*Hidden border animation*/
section.experience .values .value:before,
section.experience .values .value:after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	height: 1px;
	width: 0px;
	background: #000;
	transition: width 0.35s ease;
}
/*Border permanently visible*/
section.experience .values .value:before {
	width: 100%;
	transform: unset;
	left: 0;
	background: #e7e7e7;
}
section.experience .values .value,
section.experience .values .value * {
	transition: all 0.35s ease;
	color: #6b6b6b;
}
section.experience .values .value:last-of-type {
	margin: 0px 0px 15px;
}
section.experience .values .value:hover {
	/*transform: scale3d(0.98, 0.98, 1.0) perspective(999px);*/
}
section.experience .values .value img {
	width: 35px;
}
section.experience .values .value p {
	font-weight: 400;
	margin-bottom: 0px;
	text-align: left;
	padding-left: 30px;
	max-width: 300px;
}
section.experience .values .value:hover:after {
	width: 100%;
	right: unset;
	left: 0;
}
/*section.experience .values .value:hover img {
	color: #000;
}*/
section.experience .values .value:hover p {
	color: #3b3b3b;
}


/*--------------SERVICES SECTION--------------*/

section.services {
	background: #fff;
    border-top: 1px solid #e7e7e7;
}
.offerings {
	display: flex;
	justify-content: space-between;	
	margin-top: 30px;
}
.offerings:last-of-type {
	margin-top: 0px;
}
.offer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-basis: 33.3333%;
	height: 150px;
	background: #f4f4f4;
	margin: 0px 15px 15px 0px;
	border: 1px solid transparent;
	transition: all 0.3s ease;
	transform: translateZ(0) perspective(999px);
	cursor: pointer;
}
.offer:last-of-type {
	margin: 0px 0px 15px;
}
.offer picture {
	display: block;
	overflow: hidden;
	position: relative;
	width: 40px;
	height: auto;
	margin: 0 auto;
	margin-top: 15px;
	transition: all 0.5s ease;
}
.offer picture img {
	width: 100%;
	height: auto;
}
.offer p {
	margin-top: 20px;
	font-weight: 400;
}

/*OFFER HOVER EFFECTS*/
.offer:hover{
	transform: translateY(-5px) perspective(999px);
	background: #fff;
	box-shadow: 0 0 15px -1px rgb(219 212 219);
}
.offer:hover picture {
	/*transform: scale3d(1.015, 1.015, 1.0) perspective(999px);*/
}

/*----------------URGENT SECTION----------------*/

section.urgent {
	position: relative;
	height: 400px;
	width: 100%;
	background: unset;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}
.background-window {
	position: relative;
	height: 100%;
	width: 50%;
	flex-basis: 50%;
	z-index: 1;
}
.background-window:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
    border-width: 0 0 400px 140px;
    border-color: transparent transparent rgb(8, 48, 83) transparent;
}
section.urgent .container {
	width: 50%;
	flex-basis: 50%;
	max-width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	z-index: 2;
	margin: unset;
}
section.urgent .blue-bg {
	background: rgb(8, 48, 83);
	height: 100%;
	width: 50%;
	flex-basis: 50%;
	position: absolute;
	right: 0;
	z-index: 1;
}
section.urgent .container * {
	color: #fff;
	text-align: left;
}
section.urgent .container h1 {
	font-size: 32px;
}
section.urgent .container p {
	font-size: 24px;
}
section.urgent .container p a {
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
	white-space: nowrap;
	transition: unset;
	text-decoration: underline;
	transition: all 0.35s ease;
}
section.urgent .container p a:hover {
	color: #acacac;
}
section.urgent .container p {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	margin-top: 10px;
}

/*----------------ABOUT PAGE----------------*/

main.banner-sml.about {
	background: url('../img/about/banner.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.about-page .container p {
	text-align: left
}
/*.about-page .image-bg {
	background: url('../img/about/folder.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}*/
.about-page .flex-container {
	position: relative;
	padding: 40px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.about-page .flex-container * {
	z-index: 1;
	color: #083053;
	text-align: left;
}
.about-page .flex-container h1,
.about-page .flex-container h2 {
	text-align: center;
}
.about-page .flex-container h2 {
	position: relative;
    width: fit-content;
    margin: 20px auto 30px;
}
.about-page .flex-container h2:before,
.about-page .flex-container h2:after {
	content: "";
	position: absolute;
	top: -5px;
	left: -35px;
	width: 20px;
	height: 20px;
	background: url('../img/about/left-quote.svg');
	background-size: cover;
	/*transform: rotate(10deg);*/
}
.about-page .flex-container h2:after {
	left: unset;
	right: -35px;
	background: url('../img/about/right-quote.svg');
	background-size: cover;
}
/*.parallax {
	width: calc(100% + 80px);
	margin-left: -40px;
	height: 300px;
	background: url('../img/about/folder.jpg');
	background-position: center;
  	margin-bottom: 20px;
}*/

/*----------------OUR PEOPLE----------------*/

.our-people {

}
main.banner-sml.people {
	background: url('../img/our-people/banner.jpg');
	background-size: cover;
	background-position: 50% 70%;
	background-repeat: no-repeat;
}
.person {
	display: flex;
	margin: 0px 15px 30px 0px;
	padding: 40px;
	box-shadow: 0 0 15px -1px rgb(219 212 219);
	background: #fff;
}
.person picture {
	width: 100px;
	display: block;
	margin: 5px 0px 15px;
	border-radius: 50%;
	overflow: hidden;
}
.person picture img {
	width: 100%;
}
.person .left {
	width: 250px;
	height: 100%;
}
.person .left span {
	display: block;
	text-align: left;
	color: var(--darkblue);
}
.person .left span.name {
	font-weight: 600;
}
.person .right {
	width: 100%;
}
.person .right p {
	text-align: left;
}
.person .right p:last-of-type {
	margin-bottom: 0;
}

/*----------------PRACTICE----------------*/

main.banner-sml.practice {
	background: url('../img/areas-of-practice/banner.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.practice-areas {
	padding: 40px 0px 0px;
}
section.area {
	margin-bottom: 30px;
}
.area .container {
	display: flex;
	box-shadow: 0 0 15px -1px rgb(219 212 219);
}
.area .left {
	width: 200px;
	height: 100%;
}
.area .left picture {
	display: block;
	width: 80px;
	margin: 10px 0px 0px 30px;
}
.area .left picture img {
	width: 100%;
}
.area .right {
	width: 100%;
}
.area .right h1,
.area .right p {
	text-align: left;
}
.area .right hr {
	margin-left: 0;
}
.split {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.split ul {
	flex-basis: 45%;
}
.area .right b {
	font-size: 18px;
}
.area .right a.read-more {
	text-decoration: underline;
	display: block;
	text-align: left;
}
.area .right a.read-more:hover {
	color: #1b1b1b;
}
.area .right .solid-btn {
	margin-left: 0;
}

/*For conveyancing text overflow*/
.more {
	overflow: hidden;
	max-height: 0px;
	margin-top: 0px;
	opacity: 0;
	transition: all 0.5s ease;
}
.more.expand {
	margin-top: 30px;
	height: auto;
	max-height: 1000px;
	opacity: 1;
}
/*Only add margin to the conveyancing unordered lists*/
#conveyancing ul {
	margin-bottom: 20px;
}
.enquire {
    border-top: 1px solid #e7e7e7;
	background: #f4f4f4;
}
.contact-form {
	width: 500px;
	margin: 30px auto 0;
}
.contact-form * {
	display: block;
}
.contact-form input,
.contact-form textarea {
	border-radius: 7px;
	border: unset;
	width: 100%;
	padding: 10px 20px;
	margin-bottom: 10px;
	background: #fff;
	color: #000;
	box-shadow: inset 0 2px 1px rgb(0 0 0 / 3%);
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.contact-form input {
	height: 40px;
}
.contact-form textarea {
	height: 250px;
}
.contact-form .solid-btn {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}

/*URGENT SECTION*/
.urgent.left {
	flex-direction: row-reverse;
}
.urgent.left .background-window:after {
	left: 0;
	right: unset;
	border-width: 400px 127px 0 0;
    border-color: rgb(8, 48, 83) transparent transparent transparent;
}
.urgent.left .container {
	width: 100%;
	flex-basis: 100%;
	max-width: 1120px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
}
.urgent.left .container h1 {
	max-width: 500px;
}
.urgent.left .blue-bg {
	left: 0;
	right: unset;
}
/*----------------FOOTER STYLES----------------*/

footer {
	position: relative;
	background: #1b1b1b;
}
/*footer .topography-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/home-page/topography.svg');
	background-size: cover;
	opacity: 0.05;
}*/
footer .container {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}
footer .footer-container {
	padding-left: 20px;
}
footer .footer-container:first-of-type {
	padding-left: 0px;
}
footer .footer-container * {
	text-align: left;
}
footer .footer-container p:first-of-type {
	margin-bottom: 15px;
	color: #fff;
}
footer .footer-container a {
	color: #9b9b9b;
}
footer .footer-container a:hover {
	color: #6b6b6b;
	text-decoration: none;
}
/*CONTACT ITEMS*/
footer .footer-container.contact p {
	padding-left: 3px;
	display: flex;
	align-items: flex-start;
}
footer .footer-container.contact p i {
	color: #fff;
	margin-right: 15px;
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
footer .footer-container.contact p a {
	display: inline-block;
}
footer .footer-container.copyright {
	flex-basis: 400px;
}
footer .footer-container.copyright p span {
	font-weight: inherit;
}
footer p.copyright {
	font-weight: 400;
	margin-bottom: 20px;
}
footer p:nth-child(2) {
	margin-bottom: 10px;
}
footer p {
	color: #9b9b9b;
	font-weight: 400;
}
.footer-links {
	display: flex;
	justify-content: flex-start;
}
.footer-links .column {
	display: flex;
	flex-direction: column;
}
/*.footer-links .column:last-of-type {
	padding-left: 50px;
}*/
.footer-links .column a {
	color: #9b9b9b;
	margin-bottom: 5px;
	transition: color 0.5s ease;
}
.footer-links .column a:hover {
	text-decoration: none;
	color: #4b4b4b;
}
.social-links {
	margin-bottom: 20px;
}
.social-links a:hover {
	text-decoration: none;
}
.social-links a img {
	width: 30px;
	height: 30px;
}
.social-links a:first-of-type {
	margin-right: 10px;
}


@media only screen and (max-width: 1300px){
	/*NAV*/
	.nav {
		display: none;
	}
	.menu-toggle {
	    display: inline;
	}
	.navbar .container {
		justify-content: space-between;
	}
	.navbar {
	    height: 70px;
	}
	.navbar-brand,
	.navbar-brand img {
	    width: 55px;
	}
}
@media only screen and (max-width: 991px){
	/*GENERAL*/
	.container {
		padding: 40px 40px;
	}
	h1 {
	    font-size: 2rem;
	}
	.mobile {
		display: block;
	}

	/*NAV*/
	.navbar .container {
		padding: 0px 40px;
	}

	/*MAIN*/
	main .container h1 span.driven-text {
		display: block;
	}
	main .container {
		height: 100vh;
	    margin-bottom: 60px;
	}

	/*ABOUT*/
	.flex-container {
		flex-direction: column;
		overflow: hidden;
	}
	.flex-container .right,
	.flex-container .left {
		width: 100%;
		border-radius: unset;
	}
	.flex-container .right {
		display: none;
	}
	.flex-container .left .image-bg.mobile {
		height: 250px;
		margin: 10px 0px 20px -40px;
		width: calc(100% + 80px);
	}

	/*VALUES*/
	section.experience .values .value {
		padding-left: 10px;
    	margin: 0px 30px 15px 0px;
	}

	/*EXPERIENCE*/
	.offer {
	    width: 49%;
	}

	/*URGENT*/
	.background-window {
		display: none;
	}
	section.urgent {
		height: 350px;
	}
	section.urgent .container {
		flex-basis: 100%;
	}

	/*FOOTER*/
	footer .container { 
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	footer .footer-container.links {
		padding-left: 100px;
	}
	footer .footer-container.copyright {
		flex-basis: 100%;
		padding-left: 0;
		margin-top: 30px;
	}

	/*ABOUT PAGE*/
	main.banner-sml {
	    height: 300px !important;
	}
	main.banner-sml .blue-bg {
		flex-basis: 100%;
	}
}

@media only screen and (max-width: 767px){
	/*GENERAL*/
	.fixed-bg,
	.hero-overlay {
		background-position: 40% 50% !important;
		top: 0;
	}
	.container {
		padding: 40px 20px;
	}

	/*NAV*/
	.navbar .container {
		padding: 0px 20px;
	}

	/*MOBILE NAV*/
	.mobile-nav .nav-item {
		height: 45px;
	}
	.mobile-nav .nav-link {
		font-size: 20px;
		padding: 0 20px;
	}

	/*MAIN*/
	main .container h1 {
	    font-size: 40px;
	}
	main .container {
    	margin-top: 60px; 
    	margin-bottom: 0px; 
	}

	/*ABOUT*/
	.about .container {
		padding: 0px;
	}
	.flex-container {
		box-shadow: none;
	}
	.flex-container .left {
	    padding: 20px;
	}
	.flex-container .left .image-bg.mobile {
		height: 250px;
		margin-bottom: 10px;
		width: calc(100% + 40px);
		margin-left: -20px;
	}

	/*VALUES*/
	section.experience .values .value {
	    margin: 0px 10px 10px 0px;
	}
	section.experience .values .value:last-of-type {
		margin: 0px 0px 10px;
	}

    /*SERVICES*/
    .offer {
        width: 100%;
        margin: 0px 10px 10px 0px;
    }
    .offer:last-of-type {
    	margin: 0px 0px 10px;
    }

    /*URGENT*/
    section.urgent {
    	height: 300px;
    }

    /*ABOUT PAGE*/
    .about-page .container {
    	padding: 40px 0px;
    }
}
@media only screen and (max-width: 479px){

	/*GENERAL*/
	.container {
		padding: 20px 15px;
	}
	h1 {
	    font-size: 32px;
	}

	/*NAV*/
	.navbar .container {
	    padding: 0px 15px;
	}

	/*MOBILE NAV*/
	.mobile-nav .vertical-align {
		width: 320px;
	}
	.mobile-nav .close-btn {
	    right: 15px;
	}
	.mobile-nav .nav-item {
		height: 60px;
	}
	.mobile-nav .nav-link {
		font-size: 22px;
		padding: 0 15px;
	}

	/*MAIN*/
	main .container h1 {
	    font-size: 30px;
	}

	/*ABOUT*/
	.flex-container .left .image-bg.mobile {
		height: 220px;
	}

	/*EXPERIENCE*/
	section.experience .values {
		flex-wrap: wrap;
	}
	section.experience .values .value {
		margin: 0 0 10px;
		padding: 0 20px;
		flex-basis: 100%;
	}

	/*SERVICES*/
	.offerings {
		flex-wrap: wrap;
	}
	.offer {
		flex-basis: 100%;
		margin: 0 0 10px;
	}

	/*URGENT*/
    section.urgent .container h1 {
	    font-size: 30px;
	}
	section.urgent .container p {
		font-size: 22px;
	}

	/*FOOTER*/
	footer .footer-container.links {
		padding-left: 0;
		margin-top: 10px;
	}

	/*ABOUT PAGE*/
	.about-page .container {
		padding: 0px 0px;
	}
}